spring:
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:53306
    username: root
    password: 1234

    hikari:
      connectionTimeout : 30000 # 클라이언트가 pool에 connection을 요청하는데 기다리는 최대 시간. default: 30,000(30 sec)
      maximumPoolSize : 10      # 유휴 및 사용중인 connection을 포함하여 풀에 보관가능한 최대 커넥션 개수 설정default: 10
                                # 사용할 수 있는 커넥션이 없다면 connectionTimeout 시간만큼 대기한다.
      maxLifetime : 1800000     # connection의 최대 유지 시간. maxLifeTime이 지나면 유휴 커넥션은 바로 폐기.
                                # 사용중인 커넥션은 작업 완료 후 폐기. default 1,800,000 (30 min)
      poolName : HikariCP
